*.iml
.gradle
/local.properties
/.idea/*
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/kotlinc.xml
./app/release/app-release.aab
env.properties

# Proguard
proguard/
proguard-rules.pro

# Others
/.DS_Store
Thumbs.db
/app/release/app-release.aab
